@import "tailwindcss";
@plugin "daisyui" {
  themes: business --default;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
